{% extends 'base.html' %}
{% block title %} Producto {% endblock title %}
{% block content %}

<head>
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 mb-4">
      <h2 class="text-center mb-4">Conoce la App</h2>
      <div class="embed-responsive embed-responsive-16by9">
        <video autoplay class="embed-responsive-item" controls>
          <source src="{{ url_for('static', filename='images/videos/Publicidad.mp4') }}" type="video/mp4">
          Tu navegador no soporta la etiqueta de video.
        </video>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <h2 class="text-center mb-4">¿Cómo funciona la aplicación móvil?</h2>
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            ¡Explora nuestra asombrosa aplicación móvil, diseñada para ser fácil de utilizar!
            Quedarás sorprendido por su interfaz intuitiva, diseñada para simplificar tu experiencia.
            Registrarse es tan sencillo como completar el siguiente formulario. Una vez registrado,
            iniciar sesión es todo lo que necesitas para sumergirte en nuestro innovador Sistema de Monitoreo para
            Contenedores de Agua (<strong>AquaTI</strong>). La detección automática te permite disfrutar de todas
            sus funcionalidades sin complicaciones.
          </p>
          <p>
            Con nuestra aplicación, puedes configurar fácilmente el temporizador para encender y apagar
            la bomba de suministro de agua. Además, ofrecemos una opción para garantizar un suministro de
            agua eficiente y evitar la escasez.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 mb-4">
      <h2 class="text-center mb-4">¿Cómo funciona el producto?</h2>
      <div class="card">
        <div class="card-body">
          <p>
            Para adquirir nuestro producto, simplemente completa el siguiente formulario.
            Una vez que lo hayas llenado, nos pondremos en contacto contigo para finalizar la configuración
            de tu dispositivo y enviarlo a tu domicilio. Así podrás disfrutar del producto y de todos sus beneficios
            sin demora. ¡Esperamos poder servirte!
          </p>
          <div class="card-text">
            <p>
              El Sistema de Monitoreo para Contenedores de Agua (<strong>AquaTI</strong>) es una solución innovadora que
              emplea un sensor avanzado capaz de emitir y recibir ondas ultrasónicas para medir con precisión los
              niveles de agua en tu contenedor. Estos datos se capturan durante el proceso y luego se presentan de
              manera clara y accesible en nuestra <a class="download1" download="AquaTI"
                href="{{ url_for('static', filename='files/SMCA.apk') }}">Aplicación Móvil</a>, diseñada para
              que el usuario pueda interpretarlos fácilmente.
            </p>
            <p>
              Nuestra aplicación móvil proporciona una experiencia intuitiva y amigable, lo que facilita el Monitoreo y
              control de tu dispositivo de agua desde cualquier lugar y en cualquier momento. Con una interfaz gráfica
              intuitiva, tendrás acceso rápido a información detallada sobre los niveles de agua, alertas de nivel bajo
              y otras métricas importantes.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4 text-center">
      <h2 class="mb-4">Descargar la aplicación aquí</h2>
      <img src="{{ url_for('static', filename='images/cap.png') }}" alt="" class="mx-auto img-fluid"
        style="max-width: 200px;">
      <div><br>
        <a download="SMCA" href="{{ url_for('static', filename='files/SMCA.apk') }}"
          class="btn btn-primary btn-lg">Descargar Aplicación</a>
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row justify-content-center"> <!-- Agregamos la clase justify-content-center aquí -->
    <div class="col-12">
      {% if 'user' not in session %}
      <h2 class="text-center mb-4">Adquirir el AquaTI</h2>
      <p class="text-center">Si deseas adquirir nuestro dispositivo
        <a class="download1" href="{{ url_for('home.signin') }}">inicia sesión</a>
        , o <a class="download1" href="{{ url_for('home.logout') }}">regístrate</a>
        para que puedas adquirir el dispositivo
      </p>
      <br>
      {% else %}
      <div id="firebaseui-auth-container" class="w-100">
        <h2 class="text-center mb-10">Lista de productos</h2>
        <div class="row no-gutters justify-content-center"> <!-- También agregamos la clase justify-content-center aquí -->
          {% for product in products %}
          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card h-100">
              <img src="{{ url_for('static', filename='images/products/' + product.product_image) }}"
                class="card-img-top" alt="Imagen del producto">
              <div class="card-body">
                <h5 class="card-title">{{ product.product_name }}</h5>
                <p class="card-text">{{ product.product_description }}</p>
                <hr style="border-top: 1px solid #000; opacity: 0.2;">
                <h6 class="card-text"><strong>Precio: </strong>{{ product.product_price }}</h6>
              </div>
            </div>
          </div>&nbsp;
          {% endfor %}
        </div>
      </div>      
      {% endif %}
      <hr style="border-top: 1px solid #000; opacity: 0.2;">
      <br>
    </div>
  </div>
</div>
<!-- Sección de comentarios -->
<div class="container py-5">
  <h2 class="text-center mb-4">Opiniones</h2>
  {% if 'user' in session %}
  <form method="post" action="{{ url_for('visit.product') }}" enctype="multipart/form-data" class="mt-3"
    style="max-width: 800px; margin: auto; background-color: #f9f9f9; padding: 20px; border-radius: 10px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
    {{ form.csrf_token }}
    <div class="form-group">
      <div class="form-row align-items-center">
        <div class="col-md-8">
          <div class="form-group mb-0">
            {{ form.id_product.label }}
            <select class="form-control custom-select" name="{{ form.id_product.name }}">
              <option value="">Selecciona tu producto a calificar...</option>
              {% for id_product, product_name in form.id_product.choices %}
              <option value="{{ id_product }}">{{ product_name }}</option>
              {% endfor %}
            </select>
            {% if form.id_product.errors %}
            {% for error in form.id_product.errors %}
            <p>{{ error }}</p>
            {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group mb-0">
            <label class="form-label mb-0 mr-2">Calificación:</label>
            <div id="rating-stars" class="d-flex align-items-center">
              {% for i in range(1, 6) %}
              <i class="fa fa-star" data-value="{{ i }}"></i>
              {% endfor %}
            </div>
            <input type="hidden" name="rating_product" id="rating_product" value="{{ form.rating_product.data }}">
          </div>
        </div>
      </div>

      <label for="comment_opinion">Opina sobre nuestro producto:</label>
      {{ form.comment_opinion(class="form-control", required="required", placeholder="Ingrese su pregunta o comentario") }}
      {% if form.comment_opinion.errors %}
      {% for error in form.comment_opinion.errors %}
      <div class="text-danger">{{ error }}</div>
      {% endfor %}
      {% endif %}
    </div>
    <div class="form-group text-center">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
  {% else %}
  <p class="text-center">Para opinar sobre nuestro producto, <a href="{{ url_for('home.signin') }}">inicia sesión</a> o
    <a href="{{ url_for('home.logout') }}">regístrate</a>.
  </p>
  {% endif %}
  <h3 class="text-center mt-5">Opiniones de otros usuarios</h3>
  <div class="list-group">
    {% if opinions %}
    {% for opinion in opinions | sort(attribute='date_opinion', reverse=true) %}
    <div class="list-group-item">
      <small>
        Calificación:
        <span class="stars">
          {% set rating = opinion.rating_product | int %}
          {% for i in range(1, 6) %}
          {% if i <= rating %} <i class="fa fa-star checked"></i>
            {% else %}
            <i class="fa fa-star"></i>
            {% endif %}
            {% endfor %}
        </span>
        | Fecha: {{ opinion.date_opinion.strftime('%d/%m/%Y') }}
      </small>
      <h5 class="mb-1">{{ opinion.username_opinion }}</h5>
      <p class="mb-1">{{ opinion.id_product }}</p>
      <p class="mb-1">{{ opinion.comment_opinion }}</p>
    </div>
    {% endfor %}
    {% else %}
    <p class="text-center">No hay comentarios todavía.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
