{% extends 'base.html' %}

{% block title %}
Editar  perfil
{% endblock title %}

{% block content %}
<br><br><br><br>
<div class="container justify-content-center align-items-center" style="max-width: 600px; border: 1px solid black; border-radius: 10px; padding: 20px;">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <h1 class="text-center mb-4">Actualizar Perfil</h1>
            <form method="post" action="{{ url_for('visit.update_profile', id_user=user.id_user) }}" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div class="form-group">
                    <label>Nombre de Usuario:</label>
                    {{ form.user_username(class="form-control", required="required", placeholder="Nombre de Usuario") }}
                    {% if form.user_username.errors %}
                        {% for error in form.user_username.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label>Nombre(s):</label>
                    {{ form.user_name(class="form-control", required="required", pattern="[A-Za-z\\s]+", title="Solo letras y espacios son permitidos", placeholder="Nombre(s)") }}
                    {% for error in form.user_name.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label>Apellido(s):</label>
                    {{ form.user_lastname(class="form-control", required="required", pattern="[A-Za-z\\s]+", title="Solo letras y espacios son permitidos", placeholder="Apellido(s)") }}
                    {% for error in form.user_lastname.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="email">Correo electrónico:</label>
                    {{ form.user_email(class="form-control", required="required", placeholder="example@gmail.com") }}
                    {% for error in form.user_email.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label>Contraseña:</label>
                    {{ form.user_password(class="form-control", required="required", pattern="(?=.*\\d)(?=.*[a-zA-Z]).{8,}", title="La contraseña debe tener al menos 8 caracteres, incluyendo al menos un número y una letra.", placeholder="Ingrese su contraseña") }}
                    {% for error in form.user_password.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label>Confirme su contraseña:</label>
                    {{ form.user_password_confirm(class="form-control", required="required", pattern="(?=.*\\d)(?=.*[a-zA-Z]).{8,}", title="Las contraseñas deben coincidir", placeholder="Confirme su contraseña") }}
                    {% for error in form.user_password_confirm.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="adress1">Dirección:</label>
                    {{ form.user_direction(class="form-control", id="adress", required="required", placeholder="Ingrese su dirección") }}
                    {% for error in form.user_direction.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label>Teléfono:</label>
                    {{ form.user_phoneNumber(class="form-control", required="required", pattern="[0-9]{10}", title="Ingrese un número de teléfono válido", placeholder="Ingrese su número de teléfono") }}
                    {% for error in form.user_phoneNumber.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label>Imagen de Perfil:</label>
                    {{ form.user_image.label }}
                    {{ form.user_image() }}
                    {% if form.user_image.errors %}
                        {% for error in form.user_image.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <input type="hidden" name="id_type" value="2">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        <i class="fa fa-edit"></i> Actualizar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const checkbox = document.getElementById('flexCheckDefault');
    const submitBtn = document.getElementById('submitBtn');

    checkbox.addEventListener('change', function () {
        submitBtn.disabled = !this.checked;
    });
</script>
{% endblock %}
