<h2>
    Aviso Legal
</h2>
<h3>
    MajesTIC
</h3>
<p>
    A través del Sitio Web, ofrecemos a los Usuarios la posibilidad de acceder a la información sobre nuestros servicios
    de desarrollo de software.
</p>

<h3>
    Privacidad y Tratamiento de Datos
</h3>
<p>
    Cumplimos con la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los
    derechos digitales (LOPDGDD).
    Los datos personales recabados se tratarán conforme a nuestra Política de Privacidad.
</p>

<h3>
    Propiedad Industrial e Intelectual
</h3>
<p>
    Respetamos los derechos de propiedad intelectual e industrial de terceros.
    No está permitida la reproducción total o parcial de los contenidos del sitio web sin autorización.
</p>

<h3>
    Obligaciones y Responsabilidades del Usuario del Espacio Web
</h3>
<p>
    Los usuarios deben utilizar el sitio web de manera lícita y conforme a las condiciones establecidas.
    No se permite el uso indebido o malicioso del sitio web.
</p>

<h3>
    Responsabilidades
</h3>
<p>
    No nos hacemos responsables de los daños o perjuicios derivados del uso del sitio web.
    No garantizamos la disponibilidad continua y sin interrupciones del sitio web.
</p>

<h3>
    Hipervínculos
</h3>
<p>
    El sitio web puede contener enlaces a otras páginas externas. No nos responsabilizamos de su contenido ni de las
    prácticas de privacidad de dichos sitios.

</p>
<h3>
    Protección de Datos
</h3>
<p>
    Consulta nuestra Política de Cookies para obtener información sobre el uso de cookies en el sitio web.

</p>
<h3>
    Propiedad Intelectual
</h3>
<p>
    Todos los derechos de propiedad intelectual del contenido del sitio web son propiedad de MajesTIC o de terceros.
    No está permitida la reproducción, distribución, comunicación pública o transformación sin autorización.
</p>

<h3>
    Ley Aplicable y Jurisdicción
</h3>
<p>
    Este aviso legal se rige por la legislación española.
    Cualquier controversia se someterá a los tribunales de el estado de Tlaxcala.
</p>

<h3>
    Fecha de última actualización: 10/03/2014
</h3>
