<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SMCA {% block title %}{% endblock%}</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fonts.css') }}"rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .content {
            padding-bottom: 200px; /* Ajusta el padding inferior para dejar espacio para el footer */
        }
    </style>
</head>

<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('visit.index') }}"><img src="{{ url_for('static', filename='images/imagerevert.png') }}"
                        class="logo" alt="Logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('visit.index') }}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('visit.product') }}">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('visit.contact') }}">Preguntas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('visit.company') }}">Compañía</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('user.register') }}">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link far fa-user-circle" style="font-size:24px" href="{{ url_for('home.signin') }}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>MajesTIC</h5>
                    <p>© 2024 MajesTIC - Todos los Derechos Reservados.</p>
                </div>
                <div class="col-md-4">
                    <h5>Información Legal</h5>
                    <ul>
                        <li><a href="{{ url_for('legal.legal_information') }}" class="footer-link">Términos y Condiciones</a></li>
                        <li><a href="{{ url_for('legal.privacy_policy') }}" class="footer-link">Política de Privacidad</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Síguenos</h5>
                    <ul class="list-inline justify-content-center">
                        <li class="list-inline-item"><a href="http://www.facebook.com/" target="_blank"
                                class="icon-facebook"></a></li>
                        <li class="list-inline-item"><a href="http://www.twitter.com/" target="_blank"
                                class="icon-twitter"></a></li>
                        <li class="list-inline-item"><a href="http://www.instagram.com/" target="_blank"
                                class="icon-instagram"></a></li>
                        <li class="list-inline-item"><a href="http://www.github.com/" target="_blank"
                                class="icon-github"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <button id="back-to-top" title="Volver arriba"
        onclick="window.scrollTo({ top: 0, behavior: 'smooth' });" style="text-align: center; position: fixed; z-index: 9999;"><i
            class="fas fa-arrow-up"></i></button>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
</body>

</html>
